.filefield-element .pluploadfield-preview {
  min-width: 100px;
  min-height: 100px;
}

.filefield-element .pluploadfield-text {
  max-width: 40em; /* Reflect the maxlength of the ALT attribute (80 characters). */
}

.plupload_filelist .plupload_file_name {width:auto;}
.plupload_container {padding:0px;}
.pluploadfield_widget {max-height: 300px; overflow-y:auto; margin:40px 0 10px 0;}
.pluploadfield_widget .content-multiple-table thead {position: absolute;margin-top:-23px;}
.pluploadfield_widget .content-multiple-table thead th {border:none;}
.pluploadfield_widget .content-multiple-table tbody tr {min-height:40px;}
.pluploadfield_widget .content-multiple-table .imagefield-preview {min-height:30px;min-width:80px;}
.pluploadfield_widget .content-multiple-table .imagefield-preview img {height: 30px;}
.pluploadfield_widget .content-multiple-table .filefield-element {margin:5px;}
.pluploadfield_widget .description {display: none;}